.home-container {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #314ab9;
  color: white;
}

.home-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 100px;
  margin-top: 30px;
}

.home-text-content {
  flex: 1;
  padding-left: 40px;
  margin-right: 100px;
}
