.navbar {
  background-color: #314ab9;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #3f5ad0;
}
