.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .post-item {
    margin-top: 50px;
    margin-right: 20px;
    font-style: italic;
  }

  .post-title {
    font-weight: bold;
    text-decoration: none;
    color: #007BFF;
  }
  
  .post-title:hover {
    text-decoration: underline;
  }
  
  .post-all {
    display: block;
    font-weight: bold;
    margin-top: 50px;
    text-decoration: none;
    color: #007BFF;
  }
  
  .post-all:hover {
    text-decoration: underline;
  }